	<!-- Header -->

	<header class="header-wrapper">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-2">
						<a href="./index" class="logo"><img src="{{web_url}}asset/images/logo.png" alt="Logo Voyo One"></a>
					</div>
					<div class="col-sm-12 col-md-10">
						<nav class="navbar-right">
							<ul class="menu">
								<!-- Toggle Menu - For Mobile Devices -->
								<li class="toggle-menu">
									<span class="title">Menu</span>
									<span class="icon"><i></i><i></i><i></i></span>
								</li> <!-- END Toggle Menu -->
								<!-- Home -->
								<li class="first">
									<a href="{{web_url}}index" data-hover="Home">Home</a>
									
								</li> <!-- END Home -->
								<!-- About -->
								<li>
									<a href="{{web_url}}about" data-hover="About">About</a>
									
								</li> <!-- END About -->
								<!-- services -->
								<li>
									<a href="{{web_url}}services" data-hover="Services">Services</a>
									<ul class="submenu">
										<li>
											<a href="{{web_url}}services/consulting-services">Consulting services</a>
											
										</li>
										<li><a href="{{web_url}}services/business-application-services">Application Services</a></li>
										<li><a href="{{web_url}}services/project-managed-services">Project Management Services</a></li>
										<li>
											<a href="{{web_url}}services/infrastructure-management-services">Infrastructre Management Services</a>
											
										</li>
										
									</ul>
								</li> <!-- END Services -->
								<!-- Industries -->
								<li>
									<a href="#" data-hover="Industries">Industries</a>
									<ul class="submenu">
										<li>
											<a href="{{web_url}}">Banking</a>
											
										</li>
										<li>
											<a href="{{web_url}}">Retail</a>
											
										</li>
										<li>
											<a href="{{web_url}}">Utilities</a>
										</li>
										
									</ul>
								</li> <!-- END Industries -->
								<li>
									<a href="./technology" data-hover="Technology">Technology</a>
										<ul class="submenu">
											<li><a href="{{web_url}}technology">Cloud</a></li>
											<li><a href="{{web_url}}technology">Data Centre Transformation</a></li>
											<li><a href="{{web_url}}technology">Infrastructure Operation Transformation</a></li>
											<li><a href="{{web_url}}technology">IT Strategies</a></li>
											<li><a href="{{web_url}}technology#java">Java</a></li>
											<li><a href="{{web_url}}technology">Microsoft</a></li>
											<li><a href="{{web_url}}technology">Mobility</a></li>
											<li><a href="{{web_url}}technology">Open Source</a></li>
											<li><a href="{{web_url}}technology">Oracle</a></li>
											<li><a href="{{web_url}}technology">SAP</a></li>
										</ul>
								</li>                                   
		                                                            
		                              
								<li>
									<a href="{{web_url}}contact" data-hover="Contact">Contact</a>
								</li>
									

<li style="margin-top:20px; float:right;">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {

  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');

  $('.goog-te-gadget-icon').hide();
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        	
</li>									
							</ul>
						</nav>
					</div>
				</div>
			</div> <!-- END Container -->
		</div> <!-- END Main-Header -->
	</header> <!-- END Header -->
