{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{''}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Clients</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Clients</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->

	



		
		


			

<section class="intro-section testimonials-section custom-bg parallax" data-bg="asset/images/demo/s-106.jpg">
		<div class="bg-layer op6"></div>
				{% if testimonials |length > 0 %}

		<div class="container">
			<div class="row clients-intro">
				<div class="col-sm-12">
					<div class="quote-testimonials">
						<i class="fa fa-quote-left"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="vticker-testimonials" class="vticker-selector">
						<ul>
						{% for testimonial in testimonials %}
							<li>
								<blockquote>
									<p>{{testimonial.testimonial}}</p>
									<footer>
										<h5>{{testimonial.client_name}}</h5>
										<p class="small">{{testimonial.company_name}}</p>
									</footer>
								</blockquote>
							</li>

							{%endfor%}
						</ul>
					</div>		




				</div>
			</div>
		</div> <!-- END Container -->
	</section> <!-- END Testimonials Section -->



				
			{% else %}
				
				We're sorry. Currently no testimonials available. 
{%endif%}
		</div>
	</section> 

	<section class="section-3 clients-bg mt0">
		<div class="container">
		{% if clients |length > 0 %}
			<div class="row mb35 mt20">
					{% for client in clients %}
				<div class="col-xs-6 col-sm-3">
					<img src={{client.logo}} height="142" width="142" alt={{client.client_name}}>
				</div>
									{%endfor%}

			
				
			</div>
			{% else %}
				
				We're sorry. Currently no clients available. 

			{%endif%}
		</div>
	</section>
	

	{% endblock %}


